@{
    ViewBag.Title = "Home Page";
}
<div class="container container-fluid">
    <div class="jumbotron">
        <h1>Inisra</h1>
    </div>
</div>

@using (@Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p class="form-inline">
        
        <label for="queryTB" class="control-label">Search Jobs </label>
        @Html.TextBox("query", "", htmlAttributes: new { @id = "queryTB", @class = "form-group form-control" })
        @Html.Hidden("documentType","JD")
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}


